*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body {
   background-color: #ffffff; 
}
/*Estilo de encabezado*/
 .encabezado{
    max-width: 100%;
    overflow: hidden;
    background-color: #dab739;
    width: 100%;
    
}
.encabezado h1{
   font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   font-size: 300%;
   text-align: center;
   color: #000000; 
   padding: 1%;
}
.encabezado img{
   float: left;
   width: 40%;

}
.barra a{
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   font-size: 150%;
   text-align:center; 
   margin-left: 15%;
   text-decoration:none;
   color: #f5f8fd;
   font-weight :bold;
}

.fondo-barra {
   background-color: #151313;
}
.barra a:hover{
background:#dab739;

}
.galeria{
    padding: 9%;
    background-color: rgb(255, 249, 249);
}
.persona {
    float: right;
    width: 10%;
    height: auto; 
    display: flex; 
    align-items: center; 
}
    
 .persona img {
   width: 46%;
   height: auto;
   border-radius: 100%;
}
    
.persona p {
    margin-right: 0px; 
}
.imagen-persona img {
    float: right; 
}
#logo{
    width:30%;
    height:auto;
}
#agregarIcono svg {
    width: 40px; 
    height: 70px; 
    padding: 5px;
}
.agregarIcono{
    width: 40px; 
    height: 70px; 
    padding: 5px;
}
.clientes table{
    width:100%;;
    height:140px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 146%;
    background-color:#ffffff;   
}
.clientes table {
    background-color: #f5f8fd;
 }
 .clientes th{
 background:#e9c547;

 }
.clientes h2{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 300%;
    color: #000000; 
    padding: 5.2%; 

}
.clientes h2{
    text-align: center;
}
.clientes td:hover{
background-color: #e3dede;
}

.imagen img {
    display: block;
    margin: 0 auto;
}
.nombre{
    width:40%;
    height:auto;
    text-align: right;
}
.nombre h1{
    text-align: center;
    font-size:4vw;

}
.persona p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size:1vw;
    float: right;
}
.formulario{
    width:100%;;
    height:180px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 100%;
    color:#040404;
    padding: 7%;    
}
.formulario table{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 100%;
    padding: 2px;
   
}

.formulario h2{
    text-align:center;
    color: #000000;
    font-size: 250%;

}
.formulario input{
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    border-radius:0%;
    font-size: 100%;
  
}
.formulario label{
    width: 100%;
    padding: 4px;
    font-size: 100%;
  
}

.formulario button{
    background-color:#dac100;
}

/*Estilo de formulario*/
.footer table  {
    width:100%;
    height:140px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 100%;
    color:#040404;
    background-color:#dab739;
 }  