*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color:#ffffff;
}
/*Estilo del Encabezado*/
.encabezado{
   max-width: 100%;
   overflow: hidden;
   background-color: #dab739;
   float: left;
   width: 100%;
}
.encabezado h1{
   font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   font-size: 450%;
   text-align:center; 
}
.encabezado img{
   float: left;
   width: 10%;
}
.barra a{
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   font-size:170%;
   text-align: center;
   margin-left: 10%;
   text-decoration: none;
   color:#f5f8fd;
   font-weight: bold;
}
.fondo-barra{
   background-color:#151313;
}
.barra a:hover{
background: #dab739;
}
.descri h2{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
   text-align: center;
   font-size: 300%;
   color: #474849;
   width: 100%;
   padding: 30px;
}
.descri p{
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   font-size:150%;
   color:#151313;
   width: 100%;
   padding: 10px;
}
/*Estilo de formulario*/
.footer table  {
   width:100%;
   height:140px;
   font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   font-size: 100%;
   color:#040404;
   background-color:#dab739;
}  